"*":
  editor:
    showIndentGuide: true
    invisibles: {}
    tabLength: 4
  core:
    disabledPackages: [
      "language-gfm"
      "language-go"
      "language-make"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "metrics"
      "spell-check"
      "feedback"
      "archive-view"
    ]
    themes: [
      "atom-dark-ui"
      "cheesy-dark-syntax"
    ]
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
  build:
    monocleHeight: 0.1
    minimizedHeight: 0.1
  "recent-files":
    updated: false
  "ide-haskell":
    ghcModPath: "C:\\Users\\Hkn\\AppData\\Roaming\\cabal\\bin\\ghc-mod.exe"
    stylishHaskellPath: "C:\\Users\\Hkn\\AppData\\Roaming\\cabal\\bin\\stylish-haskell.exe"
  minimap:
    autoToggle: false
  "bracket-matcher":
    autocompleteSmartQuotes: false
    autocompleteBrackets: false
    wrapSelectionsInBrackets: false
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  tabs:
    showIcons: true
  "exception-reporting":
    userId: "947e5828-a88f-9fc3-cce2-7c2dc12dcfac"
  deprecated:
    tool:
      gulp: true
".basic.html.text":
  editor:
    tabLength: 2
